<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="profileApp" ng-controller="profileCtrl">
<!--<![endif]-->

<head>
    <title>{{name}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{name}}'s GitHub profile :)">
    <meta name="author" content="{{name}}">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="assets/images/avatar.png" alt="{{name}}" />
            <div class="profile-content pull-left">
                <h1 class="name">{{name}}</h1>
                <h2 class="desc">Java &amp; Web Developer</h2>
                <ul class="social list-inline">
                    <li><a href="https://plus.google.com/102680720620903375780"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/siben-nayak"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/sibennayak"><i class="fa fa-github"></i></a></li>
                    <li class="last-item"><a href="https://www.hackerearth.com/@siben"><i class="fa fa-hacker-news"></i></a></li>
                </ul>
            </div>
            <!--//profile-->
        </div>
        <!--//container-->
    </header>
    <!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Who Am I</h2>
                        <div class="content">
                            <ul>
                                <li>An honest, diligent and hard-working professional with over 5 years of experience.</li>
                                <li>Constantly praised by supervisors for my analytical skills and aptitude for learning.</li>
                                <li>Demonstrated ability to quickly grasp new concepts and adapt to changing work environments.</li>
                                <li>Always been zealous to learn new technologies and face new challenges.</li>
                                <li>My performance has been consistently on the higher side of the graph. I have consistently been a top performer over the years.</li>
                                <li>A good team player and have always kept the common objective of the team before my own.</li>
                            </ul>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->

                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">What Do I Want</h2>
                        <div class="content">
                            <p>I am currently looking for a position in an organization that offers a greater challenge, increased benefits, and the opportunity to explore my advanced technical aptitude and skills to help the organization advance efficiently
                                and productively.</p>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->

                <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Professional History</h2>

                        <div class="content" ng-repeat="org in history">
                            <hr class="divider" />
                            <div class="item featured text-center">
                                <h3 class="title"><a ng-href="{{org.url}}" target="_blank">{{org.name}}</a></h3>
                                <p class="summary">{{org.designation}}</br>
                                    {{org.location}} [{{org.duration}}]
                                </p>

                                <div class="desc text-left">
                                    <p></p>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//item-->

                            <div class="item row" ng-repeat="project in org.projects">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <img class="img-responsive project-image" ng-src="assets/images/{{project.type}}.png" alt="{{project.name}}" />
                                </div>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title">{{project.name}}</h3>
                                    <span class="label label-theme" ng-repeat="role in project.roles">{{role}}</span>
                                    <p class="item-description">{{project.description}}</p>
                                    <span class="label label-skills" ng-repeat="skill in project.skills">{{skill}}</span>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//item-->
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </section>
                <!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content" ng-repeat="exp in experience">
                            <div class="item">
                                <h3 class="title">{{exp.designation}} - <span class="place">{{exp.company}}</span> <span class="year">({{exp.duration}})</span></h3>
                                <p></p>
                            </div>
                            <!--//item-->
                        </div>
                    </div>
                </section>
            </div>
            <!--//primary-->

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Bengaluru, Karnataka, India</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a ng-href="mailto:{{mail}}">{{mail}}</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a ng-href="{{site}}">{{site}}</a></li>
                            </ul>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                            </p>

                            <div class="skillset">
                                <div class="item" ng-repeat="skill in skillset">
                                    <h3 class="level-title">{{skill.name}}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skill.info}}">{{skill.level}}</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{skill.percentage}}%">
                                        </div>
                                    </div>
                                    <!--//level-bar-->
                                </div>
                                <!--//item-->
                            </div>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">
                                    <p><i class="fa fa-quote-left"></i>Siben is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
                                </blockquote>
                                <p class="source"><span class="name">Anonymous</span>
                                    <br /><span class="title"></span></p>
                            </div>
                            <!--//item-->

                            <p><a class="more-link" href="https://www.linkedin.com/in/siben-nayak" target="_blank"><i class="fa fa-external-link"></i> More on Linkedin</a></p>

                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> B.Tech Computer Science &amp; Engineering</h3>
                                <h4 class="university">College of Engineering &amp; Technology <span class="year">(2006-2010)</span></h4>
                            </div>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item" ng-repeat="language in languages">
                                    <span class="title"><strong>{{language.name}}:</strong></span>
                                    <span class="level">{{language.type}} <br class="visible-xs"/><i class="fa fa-star" ng-repeat="i in range(5)"></i></span>
                                </li>
                                <!--//item-->
                            </ul>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Patents</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-file-text-o"></i>
                                    <a href="http://www.google.com/patents/CA2829985A1" target="_blank">System and method for validation and conversion of electronic data</a>
                                </li>
                            </ul>
                        </div>
                        <!--//content-->
                    </div>
                    <!--//section-inner-->
                </aside>
                <!--//section-->

            </div>
            <!--//secondary-->
        </div>
        <!--//row-->
    </div>
    <!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Copyright (c) 2016 {{name}}. All Rights Reserved.</small>
        </div>
        <!--//container-->
    </footer>
    <!--//footer-->

    <!-- Javascript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <!-- custom js -->
    <script src="assets/js/app.js"></script>

</body>

</html>
