/*
 * Author: Siben Nayak
 * Website: http://sibennayak.github.io/
*/

.profile-image {
    width: 10em;
    height: 10em;
    border-radius: 5em;
}
.desc {
    margin-bottom: 10px;
}
.label-theme {
    margin-right: 5px;
}
.label-skills {
    background: #e68a00;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}
.latest .divider {
    margin-bottom: 30px;
}
.item-description {
    margin-top: 1em;
    font-size: 14px;
    text-align: justify;
}
.fa-star {
    margin-right: 5px;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.experience .item {
    margin-bottom: 10px;
}
.university a {
    color: #778492;
}
.splash {
    display: none;
}
[ng-cloak].splash {
    display: block !important;
}
.splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #000;
    border-width: medium;
}
.splash h2 {
    text-align: center;
    font-size: 4em;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
