/*
 * Author: Siben Nayak
 * Website: http://sibennayak.github.io/
*/

.profile-image {
    width: 10em;
    height: 10em;
    border-radius: 5em;
}
.desc {
    margin-bottom: 10px;
}
.label-theme {
    margin-right: 5px;
}
.label-skills {
    background: #e68a00;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}
.latest .divider {
    margin-bottom: 30px;
}
.item-description {
    margin-top: 1em;
    font-size: 14px;
    text-align: justify;
}
.fa-star {
    margin-right: 5px;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.level-bar-inner {
    background: #4caf50 !important;
}
.experience .item {
    margin-bottom: 10px;
}
