<div class="section-inner">
    <h2 class="heading">Professional History</h2>

    <div class="content" ng-repeat="org in profile.history">
        <hr class="divider" />
        <div class="item featured text-center">
            <h3 class="title"><a ng-href="{{org.url}}" target="_blank">{{org.name}}</a></h3>
            <p class="summary">{{org.designation}}</br>
                {{org.location}} [{{org.duration}}]
            </p>

            <div class="desc text-left">
                <p></p>
            </div>
            <!--//desc-->
        </div>
        <!--//item-->

        <div class="item row" ng-repeat="project in org.projects">
            <div class="col-md-2 col-sm-4 col-xs-12">
                <img class="img-responsive project-image" ng-src="assets/images/{{project.type}}.png" alt="{{project.name}}" />
            </div>
            <div class="desc col-md-10 col-sm-8 col-xs-12">
                <h3 class="title">{{project.name}}</h3>
                <span class="label label-theme" ng-repeat="role in project.roles">{{role}}</span>
                <p class="item-description">{{project.description}}</p>
                <span class="label label-skills" ng-repeat="skill in project.skills">{{skill}}</span>
            </div>
            <!--//desc-->
        </div>
        <!--//item-->
    </div>
    <!--//content-->
</div>
<!--//section-inner-->
