<div class="section-inner">
    <h2 class="heading">Languages</h2>
    <div class="content">
        <ul class="list-unstyled">
            <li class="item" ng-repeat="language in languages">
                <span class="title"><strong>{{language.name}}:</strong></span>
                <span class="level">{{language.type}} <br class="visible-xs"/><i class="fa fa-star" ng-repeat="i in range(language.fluency)"></i></span>
            </li>
            <!--//item-->
        </ul>
    </div>
    <!--//content-->
</div>
<!--//section-inner-->
