<div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">
        <div class="item" ng-repeat="testimonial in testimonials">
            <blockquote class="quote">
                <p><i class="fa fa-quote-left"></i>{{testimonial.quote}}</p>
            </blockquote>
            <p class="source"><span class="name">{{testimonial.name}}</span>
                <br /><span class="title"></span>{{testimonial.organization}}</p>
        </div>
        <!--//item-->

        <p><a class="more-link" href="https://www.linkedin.com/in/siben-nayak" target="_blank"><i class="fa fa-external-link"></i> More on Linkedin</a></p>

    </div>
    <!--//content-->
</div>
<!--//section-inner-->
